{:source-paths ["src" "../showcase-framework/src"]
 :dependencies [[reagent "1.2.0"]      ; ClojureScript deps needed for compilation
                [cljs-ajax "0.8.4"]]   ; (Backend deps come from deps.edn)
 :dev-http {8020 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn movie-review.core/init!}}
   :devtools {:after-load movie-review.core/reload!
              :preloads []}}}
 :nrepl {:port 9000}}
